.top{
     width:80%;
     margin: auto;
     background-color: #b5ccf2;
     border-radius: 5px;
   }
   .preview textarea{
     width: 40%;
     dislpay: inline-block;
     margin: 0px 9.5%
   }

   textarea{
     height: 400px;
   }